@media (min-width: 576px) {
  .content-style {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .content-style {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .content-style {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .content-style {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .content-style {
    width: 50%;
  }
}
.content-style {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 16px;
}
.form-style {
  margin-top: 16px;
  margin-bottom: 16px;
}
.page-bg {
  background-image: url("lily-banse-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  height: 100vh;
}